native
classes
lib
*~
/clj-forex-0.1.jar
/pom.xml
/clj-forex-0.0.1.jar
/README.pdf
/README.tex
/hs_err_pid9514.log
/src/mql4/zmq/linux-zmq-wine-wrap /zmq.dll.so
/src/mql4/zmq/linux-zmq-wine-wrap /zmq.o
/src/mql4/zmq/wrap/linux/zmq.o
/src/mql4/zmq/wrap/linux/zmq_bind.o
/src/mql4/zmq/wrap/linux/zmq_bind.dll.so
